.pagination {
    margin: 20px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .page:hover {
        transform: scale(1.2, 1.2);
    }
    
    .page,
    .current-page {
        width: 30px;
        height: 30px;
        line-height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #8b949e;
        border-radius: 50%;
        margin: 0 10px 10px;
        cursor: pointer;
        transition: transform 0.1s ease-in-out;
    }

    .current-page {
        border: 2px solid #58a6ff;
    }
}